.box1 {
  width: 300px;
  height: 300px;
  background-color: #ccffff;
  margin: 30px;
  padding: 30px;
}

.box2 {
  width: 100px;
  height: 100px;
  background-color: #ffccff;
  border: 5px solid #777777;
}
